<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <i class="material-icons">description</i>
            <a class="navbar-brand" href="#">Reportes</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="navbar-wrapper ml-auto">
            <a class="navbar-brand" href="#"><img src="../../assets/img/cerrarSesion.png" width="30px">Cerrar Sesión</a>
        </div>
    </div>
</nav>
<div class="main-content">
    <div class="card">
        <div class="card-header card-header-info">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link"  data-toggle="tab">Clientes</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    <div class="card-body ">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="nombre">
             <div>
                <br>
                </div>
                 <div class="row">
      <div class="card-body col-md-12">
          <div class="row">
              <div class="col"></div>
              <div class="col"></div>
            <div class="col input-group no-border">
            <input type="text" id="buscar" class="form-control" placeholder="Buscar Nombre o Ruta..." [(ngModel)]='buscar' >
            <button mat-raised-button type="button" class="btn btn-info btn-round btn-just-icon" (click)='consultar();'>
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </button>
                  </div>
                </div>
                            <div class="table-responsive">
                                <table class="table">
                                        <div type="text" name="id" [(ngModel)]="this.clientesService.selectCliente.id"></div>
                                    <thead class=" text-info">
                                        <th>
                                            Clientes
                                        </th>
                                        <th>
                                            Cantidad
                                        </th>
                                        <th>
                                            Estatus
                                        </th>
                                    </thead>

                                    <tbody *ngIf="!buscando">
                                        <tr *ngFor="let cliente of clientes" >
                                            <td>
                                                {{cliente.nombre + " " + cliente.apellidos}}
                                            </td>
                                            <td>
                                                {{"$"+cliente.cantidad}}
                                            </td>
                                            <td>
                                                <button class="btn btn-warning btn-round" type="button" (click)="updateStatus(cliente)" > 
                                                    {{cliente.estatus}}
                                                </button>  
                                            </td>
                                        </tr>

                                    </tbody>
                                    <tbody *ngIf="buscando">
                                        <tr *ngFor="let cliente of clientesFiltered" >
                                            <td>
                                                {{cliente.nombre + " " + cliente.apellidos}}
                                            </td>
                                            <td>
                                                {{"$"+cliente.cantidad}}
                                            </td>
                                            <td>
                                                <button class="btn btn-warning btn-round" type="button" (click)="updateStatus(cliente)" > 
                                                    {{cliente.estatus}}
                                                </button>  
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                   
                    
                </div>
            </div>
        </div>