<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <i class="material-icons">person</i>
            <a class="navbar-brand">Cobradores</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="navbar-wrapper ml-auto">
          <a class="navbar-brand" href="#"><img src="../../assets/img/cerrarSesion.png" width="30px">Cerrar Sesión</a>
      </div>
    </div>
</nav>


  
  <div class="main-content">
    <div class="container-fluid">
      <button class="btn btn-info btn-round float-right ml-2" data-toggle="modal" 
      data-target="#exampleModal">
      <i class="material-icons">add_circle</i> Registrar cobradores
      </button>
  
      <br>
      <br>
      <br>
  
      <div *ngIf="loading" class="text-center my-6">
        <img src="../../assets/img/loading.gif" width="250px">
      </div>
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
      aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> 
                {{!this.cobradoresService.selectCobrador.id ? 'Registrar Cobradores' : 'Editar datos'}}
  
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #formCobrador="ngForm" (ngSubmit)="saveCobrador(formCobrador)">
                <div class="form-row">
                  <div type="text" name="id" [(ngModel)]="this.cobradoresService.selectCobrador.id"></div>
                
                  <div class="col">
                      <p>Nombre:
                    <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                      [(ngModel)]="this.cobradoresService.selectCobrador.nombre">
                    </p>
                    <p>Apellidos:
                    <input type="text" class="form-control" placeholder="Apellidos" name="apellidos"
                      [(ngModel)]="this.cobradoresService.selectCobrador.apellidos">
                      </p>
                      <p>Dirección:
                    <input type="text" class="form-control" placeholder="Direccion" name="direccion"
                      [(ngModel)]="this.cobradoresService.selectCobrador.direccion">
                      </p>
                      <p>Teléfono:
                          <input type="number" class="form-control" placeholder="Telefono" name="telefono"
                            [(ngModel)]="this.cobradoresService.selectCobrador.telefono">
                            </p>

                          <p>Correo:
                              <input type="email" class="form-control" placeholder="Correo" name="correo"
                                [(ngModel)]="this.cobradoresService.selectCobrador.correo">
                                </p>
                
                <div class="modal-footer">
                  <button type="button" type="submit" class="btn btn-info btn-round">
                    <i class="material-icons">
                      arrow_forward_ios</i> Guardar
                  </button>
                </div>
                </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      </div>
    
      <div class="row">
        <div class="card mb-3 sm-6 mr-3" style="max-width: 340px;" *ngFor="let cobrador of cobradores">
          <div class="row no-gutters">
            <div class="col-md-4 my-3">
              <img src="./assets/img/cliente1.png" class="card-img" style="max-width: 100px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <button type="button" class="ml-auto close" (click)="onDeleteCobrador(cobrador.id)">
                  <i class="material-icons">delete</i>
                </button>
                <button type="button" class="ml-auto close" data-toggle="modal" data-target="#exampleModal"
                  (click)="onPreUpdateCobrador(cobrador)">
                  <i class="material-icons">edit</i>
                </button>
                <br>
                <h5 class="card-title">{{cobrador.nombre}}</h5>
                <h5 class="card-text">{{cobrador.apellidos}}</h5>
                
              </div>
            </div>
          </div>
        </div>
      </div>