<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <i class="material-icons">person</i>
      <a class="navbar-brand">Clientes</a>
    </div>
    <button mat-raised-button class="navbar-toggler" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>    
    <div class="navbar-wrapper ml-auto">
      <a class="navbar-brand" href="#"><img src="../../assets/img/cerrarSesion.png" width="30px">Cerrar Sesión</a>
  </div>
  </div>
</nav>

<div class="main-content">
  <div class="container-fluid">
    <button class="btn btn-info btn-round float-right ml-2" data-toggle="modal" 
    data-target="#exampleModal">
    <i class="material-icons">add_circle</i> Registrar clientes
    </button>

    <br>
    <br>
    <br>

    <div *ngIf="loading" class="text-center my-6">
      <img src="../../assets/img/loading.gif" width="250px">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> 
              {{!this.clientesService.selectCliente.id ? 'Registrar Clientes' : 'Editar datos'}}

            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #formCliente1="ngForm" (ngSubmit)="saveCliente(formCliente1)">
              <div class="form-row">
                <div type="text" name="id" [(ngModel)]="this.clientesService.selectCliente.id"></div>
              
                <div class="col">
                    <p>Nombre:
                  <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                    [(ngModel)]="this.clientesService.selectCliente.nombre">
                  </p>
                  <p>Apellidos:
                  <input type="text" class="form-control" placeholder="Apellidos" name="apellidos"
                    [(ngModel)]="this.clientesService.selectCliente.apellidos">
                    </p>
                    <p>Dirección:
                  <input type="text" class="form-control" placeholder="Direccion" name="direccion"
                    [(ngModel)]="this.clientesService.selectCliente.direccion">
                    </p>
                    <p>Comunidad:
                  <input type="text" class="form-control" placeholder="Comunidad" name="comunidad"
                    [(ngModel)]="this.clientesService.selectCliente.comunidad">
                    </p>
                    <p>Teléfono:
                        <input type="number" class="form-control" placeholder="Telefono" name="telefono"
                          [(ngModel)]="this.clientesService.selectCliente.telefono">
                          </p>
                  <div class="row">
                    <div class="col-md-3 my-3">
                      <p>Ruta:</p>
                    </div>
                    <div class="col">
                      <select class="custom-select mr-sm-2 mb-1" id="inlineFormCustomSelect" name="ruta"
                        [(ngModel)]="this.clientesService.selectCliente.ruta">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                  </div>
</div>

<div class="col">
                  <p>IP:
                      <input type="text" class="form-control" placeholder="IP" name="ip"
                        [(ngModel)]="this.clientesService.selectCliente.ip">
                        </p>
                        <p>MAC:
                            <input type="text" class="form-control" placeholder="MAC" name="mac"
                              [(ngModel)]="this.clientesService.selectCliente.mac">
                              </p>
                  <div>
                      <p>Fecha de Inicio de Contrato
                      <input type="date" class="form-control" placeholder="Fecha de Inicio de Contrato" 
                      name="fecha_inicio" [(ngModel)]="this.clientesService.selectCliente.fecha_inicio"></p>
                    </div>
                    <div>
                      <p>Fecha de Pago
                      <input type="date" class="form-control" placeholder="Fecha de Pago" name="fecha_pago"
                        [(ngModel)]="this.clientesService.selectCliente.fecha_pago"></p>
                      </div>
                      <div>
                        <p>Cantidad a pagar:
                        <input type="number" class="form-control" placeholder="Ingresar cantidad" name="cantidad"
                          [(ngModel)]="this.clientesService.selectCliente.fecha_pago"></p>
                        </div>
                        <div class="row">
                          <div class="col-md-3 my-3">
                            <p>Estatus:</p>
                          </div>
                          <div class="col">
                            <select class="custom-select mr-sm-2 mb-1" id="inlineFormCustomSelect" name="estatus"
                              [(ngModel)]="this.clientesService.selectCliente.estatus">
                              <option value="Pagado">Pagado</option>
                              <option value="Sin Pagar">Sin Pagar</option>
                            </select>
                          </div>
                        </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" type="submit" class="btn btn-info btn-round">
                  <i class="material-icons">
                    arrow_forward_ios</i> Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  
    <div class="row">
      <div class="card mb-3 sm-6 mr-3" style="max-width: 340px;" *ngFor="let cliente of clientes">
        <div class="row no-gutters">
          <div class="col-md-4 my-3">
            <img src="./assets/img/cliente1.png" class="card-img" style="max-width: 100px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <button type="button" class="ml-auto close" (click)="onDeleteCliente(cliente.id)">
                <i class="material-icons">delete</i>
              </button>
              <button type="button" class="ml-auto close" data-toggle="modal" data-target="#exampleModal"
                (click)="onPreUpdateCliente(cliente)">
                <i class="material-icons">edit</i>
              </button>
              <br>
              <h5 class="card-title">{{cliente.nombre}}</h5>
              <h5 class="card-text">{{cliente.apellidos}}</h5>
              
            </div>
          </div>
        </div>
      </div>
    </div>